@font-face {
    font-family: myLightFont;
    src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: myRegularFont;
    src: url(fonts/NotoSansMath-Regular.ttf);
}
@font-face {
    font-family: myBoldFont;
    src: url(fonts/Montserrat-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: myRegularFont, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

nav, footer{
    padding: 25px 0;
    width: 100%;
    background-color: pink;
}
.calculatorContainer{
    height: 500px;
    width: 350px;
    padding: 10px;
    background-color: darkcyan;
}
.display{
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 0 10px;
    gap: 10px;
    background-color: white;
    height: 120px;
    justify-content: center;
}

#expression{
    font-size: 1.5em;
}

#result{
    font-size: 2.5em;
}

.buttonContainer{
    margin-top: 20px;
    height: 360px;
    display:grid;
    grid-template: repeat( 5, 1fr) / repeat(4, 1fr);
    gap: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: x-large;
    background-color: aliceblue;
    transition: .3s;
}
.btn:hover{
    transform: scale(1.05);
}
#equals{
    grid-column: 3 / 5;
}