@font-face {
    font-family: myLightFont;
    src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: myRegularFont;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: myBoldFont;
    src: url(fonts/Montserrat-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: myRegularFont, sans-serif;
    --base: #173B45;
    --orange:#FF8225;
    --red:#B43F3F;
    --white: #F8EDED;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
/* nav and footer */
nav, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    width: 100%;
    background-color: white;
}

nav {
    box-shadow: 0 0 2px 0 var(--base);
}

nav span {
    font-family: myBoldFont ,sans-serif;
    color: var(--orange);
    font-size: 1.5rem;
}

a {
    margin-left: 50px;
    transition: .3s;
}
a:hover{
    transform: scale(1.2);
}

img {
    width: 32px;
}

footer span {
    font-family: myBoldFont, sans-serif;
    color: var(--red);
}

/* Calculator */
.calculatorContainer{
    height: 500px;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--base);
}

.display{
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 0 10px;
    gap: 10px;
    background-color: white;
    height: 120px;
    justify-content: center;
    border-radius: 10px;
}

#expression{
    font-size: 1.5em;
    height: 30%;
}

#result{
    font-size: 2.5em;
    height: 42%;
    font-family: myBoldFont, sans-serif;
}

.buttonContainer{
    margin-top: 20px;
    height: 360px;
    display:grid;
    grid-template: repeat( 5, 1fr) / repeat(4, 1fr);
    gap: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: x-large;
    background-color: aliceblue;
    transition: .3s;
    border-radius: 10px;
    font-weight: bolder;
    background: var(--white);
    font-family: myBoldFont, sans-serif;
}

.operator{
    background-color: var(--orange);
    color: var(--white);
}

.btn:hover{
    transform: scale(1.1);
}

#equals, .delete{
    background-color: var(--red);
    color: var(--white);
}